<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/games.css">
	<title>Salvo</title>
</head>

<body>
	<div class="container-fluid" id="app">
		<div class="row">
			<div class="col-11 text-center">
				<h1 class="titulos">Welcome <strong class="titleWelcome">{{player.email}}</strong> to the Salvo </h1>
			</div>

			<div class="col-1 text-right" v-if="player != 'invitado' ">
				<!-- Logout -->
				<button type="button" class="btn btn-secondary" v-on:click="logout">Logout</button>
			</div>
		</div>

		<!--Cuerpo Sign In -->
		<div class="row tableBody sizeDivSignIn" v-if="player == 'invitado' ">
			<div class="col-12">
				<h2 class="labelMail">Enter Email and Password</h2>
				<label>Email:
					<input type="email" v-model:value="userMail" onfocus="this.value=''">
				</label>
			</div>
			<div class="col-12">
				<label>Password:
					<input type="password" v-model:value="userPassword" onfocus="this.value=''">
				</label>
			</div>
			<div class="col-12">
				<!--Login-->
				<button type="button" class="btn btn-secondary" v-on:click="loginEmail">Login</button>
				<!-- Signing up -->
				<button type="button" class="btn btn-secondary" v-on:click="signup">Signup</button>
			</div>
		</div>

		<!-- Create Game -->
		<div class="row" v-if="player != 'invitado'">
			<div class="col-6">
				<button type="button" class="btn btn-secondary" v-on:click="createGame">Create Game</button>
			</div>
		</div>

		<h2 class="titulos">Games:</h2>
		<div class="tableBody tableGames">
			<ol>
				<li v-for="game in games">
					<template v-if="player !='invitado' && game.gamePlayers.findIndex(gp => player.id==gp.player.id)!=-1">
						<a class="titleWelcome" v-bind:href="'/web/game.html?Gp=' + game.gamePlayers[game.gamePlayers.findIndex(gp => player.id==gp.player.id)].id" target="_blank">
							{{game.created | formatDate}}:{{game.gamePlayers.map(gamePlayer => gamePlayer.player.email).join(', ')}}
						</a>
					</template>
					<template v-else>
						{{game.created | formatDate}}:{{game.gamePlayers.map(gamePlayer => gamePlayer.player.email).join(', ')}}
					</template>
					<!-- Join game -->
					<button type="button" class="btn btn-secondary" v-on:click="joinGame(game.id)" v-if="player != 'invitado' && game.gamePlayers.findIndex(gp => player.id==gp.player.id)==-1 && game.gamePlayers.length==1">
						Join Game
					</button>
				</li>
			</ol>
		</div>

		<h2 class="titulos">Scores:</h2>
		<table class="tableBody">
			<thead>
				<tr>
					<th>Name</th>
					<th>Total</th>
					<th>Won</th>
					<th>Lost</th>
					<th>Tied</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="player in players">
					<td>
						{{player.email}}
					</td>
					<td>
						{{player.total.toFixed(1)}}
					</td>
					<td>
						{{player.cantWin}}
					</td>
					<td>
						{{player.cantLoss}}
					</td>
					<td>
						{{player.cantTie}}
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- Cambio a versión de (versión delgada)slim.min a min para que tome 'get'-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Include the Vue library -->
	<script src="https://unpkg.com/vue/dist/vue.js"> </script>
	<!-- Carga script para acceder al listado de miembros de games, con datos desde mi localhost-->
	<script src="js/moment.js"></script>
	<script src="js/games.js"></script>


</body>

</html>
